body {
    color: white;
    background-color: hsl(300, 100%, 10%);
}
a {
    color: hsl(240, 100%, 80%);
}
a:active {
    color: hsl(0, 100%, 80%);
}
input {
    color: white;
    background-color: hsl(300, 50%, 20%);
}
button {
    margin-left: 0.2em;
    color: white;
    background-color: hsl(300, 100%, 20%);
    border-color: hsl(300, 100%, 20%);
}
button:hover {
    background-color: hsl(300, 100%, 30%);
}
button:disabled {
    color: hsla(0, 0%, 100%, 20%);
    background-color: hsl(300, 50%, 20%);
    border-color: hsl(300%, 50%, 20%);
}
table#people thead {
    background-color: hsl(300, 100%, 8%);
}
.modified {
    background-color: hsl(240, 25%, 20%);
}
.submitted {
    background-color: hsl(300, 50%, 20%);
}
.matched {
    background-color: hsl(300, 100%, 40%);
}
.searchwords .term {
    background-color: hsl(300, 100%, 15%);
}
.searchwords button:hover {
    background-color: hsl(300, 100%, 25%);
}
.searchwords button:active {
    background-color: hsl(300, 100%, 10%);
}
.error {
    border: 1px solid hsl(0, 100%, 100%);
    background-color: hsl(0, 100%, 20%);
}
.customiseColumns {
    background-color: hsl(300, 100%, 15%);
}
.insertAbove {
    border-top: 1px solid white;
}
.insertBelow {
    border-bottom: 1px solid white;
}
.insertUnmoved {
    border: 1px solid white;
}
