body {
    color: white;
    background-color: hsl(300, 100%, 10%);
}
a {
    color: hsl(240, 100%, 75%);
}
table#people thead {
    background-color: hsl(300, 100%, 8%);
}
.modified {
    background-color: hsl(240, 25%, 20%);
}
.submitted {
    background-color: hsl(300, 50%, 20%);
}
.matched {
    background-color: hsl(300, 100%, 40%);
}
