table#people thead {
    background-color: white;
}
.modified {
    background-color: hsl(60, 100%, 90%);
}
.submitted {
    background-color: hsl(240, 100%, 90%);
}
.matched {
    background-color: hsl(120, 100%, 90%);
}
