body {
    background-color: hsl(285, 80%, 80%);
}
table#people thead {
    background-color: hsl(270, 100%, 70%);
}
.modified {
    background-color: hsl(60, 100%, 90%);
}
.submitted {
    background-color: hsl(240, 100%, 90%);
}
.matched {
    background-color: hsl(120, 100%, 90%);
}
.searchwords .term {
    background-color: hsl(285, 100%, 75%);
}
.searchwords button:hover {
    background-color: hsl(285, 100%, 65%);
}
.searchwords button:active {
    background-color: hsl(285, 100%, 60%);
}
.errors > li {
    border: 1px solid hsl(0, 100%, 20%);
    background-color: hsl(0, 100%, 60%);
}
.customiseColumns {
    background-color: hsl(285, 80%, 70%);
}
.insertAbove {
    border-top: 1px solid black;
}
.insertBelow {
    border-bottom: 1px solid black;
}
.insertUnmoved {
    border: 1px solid black;
}
