body {
    background-color: hsl(285, 80%, 80%);
}
table#people thead {
    background-color: hsl(270, 100%, 70%);
}
.modified {
    background-color: hsl(60, 100%, 90%);
}
.submitted {
    background-color: hsl(240, 100%, 90%);
}
.matched {
    background-color: hsl(120, 100%, 90%);
}
.searchwords .term {
    background-color: hsl(285, 100%, 75%);
}
.searchwords button:hover {
    background-color: hsl(285, 100%, 65%);
}
.searchwords button:active {
    background-color: hsl(285, 100%, 60%);
}
